.c-tool-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: rem(300);
  max-height: 100%;
  margin-right: map-get($spacers, 5);

  .intro {
    .title h1 {
      line-height: 3rem;
      font-weight: 300;
      font-family: $font-family-1;
      font-size: 44px;
    }
  }

  .c-accordion {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    .subtitle {
      font-family: $font-family-2;
      font-size: 28px;
    }

    .item {
      margin: map-get($spacers, 2) 0;
      overflow: hidden;
      flex-shrink: 0;
      h2 {
        font-size: 12px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.-expanded {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        & > .panel {
          padding: map-get($spacers, 2) 0;
          overflow: auto;
        }
      }
    }
  }

  .btn {
    padding: 12px 32px;
    width: 176.5px;
    border-radius: 80px;
    border: none;
    font-weight: $font-weight-strong;
  }
}
