.c-tool-visualization {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;

  .exporting-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    z-index: 4;
  }

  .chart-container {
    flex-grow: 1;
    /* The next two properties make sure that the chart will fit the area size defined by the
    user */
    flex-shrink: 1;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    padding: map-get($spacers, 4) map-get($spacers, 3);
    border: rem(1) solid rgba($black, 0.1);
  }

  .c-tool-attributions {
    width: 100%;
    flex-shrink: 0;
    background-color: $white;
  }
}
