.c-tool-attributions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font-size($font-size-xs);
  font-style: italic;
  color: $text-color-3;

  img {
    display: block;
    height: rem(20);
    margin-right: map-get($spacers, 2);
  }

  .content {
    padding: map-get($spacers, 1) 0 map-get($spacers, 1) map-get($spacers, 1);

    a {
      color: currentColor;
    }
  }
}
