.c-tool-attributions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font-size($font-size-xs);
  font-style: italic;
  color: $text-color-3;

  .logo {
    display: block;
    margin-right: map-get($spacers, 2);
  }

  .content {
    padding: map-get($spacers, 1) 0 map-get($spacers, 1) map-get($spacers, 1);
    text-align: right;

    a {
      color: currentColor;
    }
  }
}
